{% extends "base.html.twig" %}

{% block title %}Heuway -  Service{% endblock %}

{% block body %}
<div class="container mt-4">
    {% include "partials/_header-entity.html.twig" %}
    <h1 class="mt-4">Modification d'un service</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form_label(form.numero_groupe) }}
                {{ form_widget(form.numero_groupe) }}
                <div class="invalid-feedback">{{ form_errors(form.numero_groupe) }}</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form_label(form.depot) }}
                {{ form_widget(form.depot) }}
                <div class="invalid-feedback">{{ form_errors(form.depot) }}</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form_label(form.ligne) }}
                {{ form_widget(form.ligne) }}
                <div class="invalid-feedback">{{ form_errors(form.ligne) }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form_label(form.debut) }}
                {{ form_widget(form.debut) }}
                <div class="invalid-feedback">{{ form_errors(form.debut) }}</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form_label(form.fin) }}
                {{ form_widget(form.fin) }}
                <div class="invalid-feedback">{{ form_errors(form.fin) }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form_label(form.pause) }}
                {{ form_widget(form.pause) }}
                <div class="invalid-feedback">{{ form_errors(form.pause) }}</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form_label(form.dispo) }}
                {{ form_widget(form.dispo) }}
                <div class="invalid-feedback">{{ form_errors(form.dispo) }}</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form_label(form.deplacement) }}
                {{ form_widget(form.deplacement) }}
                <div class="invalid-feedback">{{ form_errors(form.deplacement) }}</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form_label(form.coupure) }}
                {{ form_widget(form.coupure) }}
                <div class="invalid-feedback">{{ form_errors(form.coupure) }}</div>
            </div>
        </div>
    </div>
    
    {{ form_end(form) }}
</div>
{% endblock %}