{% extends 'base.html.twig' %}

{% block title %}Heuway -  Service{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% include "partials/_header-entity.html.twig" %}
        <h1 class="mt-4">Services</h1>
        {{ form_start(form) }}
        <div class="row">
            <legend>Filtres</legend>
            <div class="col">
                {{ form_row(form.depot) }}
            </div>
            <div class="col">
                {{ form_row(form.ligne) }}
            </div>
            <div class="col">
                {{ form_row(form.debut) }}
            </div>
            <div class="col">
                {{ form_row(form.fin) }}
            </div>
        </div>
        {{ form_end(form) }}
        <p>{{ services.totalItemCount }} services trouvés</p>
        <div class="card-group">
        {% for service in services %}
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Service n°{{ service.id }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ service.depot }} - {{ service.numerogroupe }}</h4>
                    <p class="card-text">
                    {{ service.debut|date("d/m/Y") }}<br>
                    {{ service.debut|date("H:i") }} - {{ service.fin|date("H:i") }}<br>
                    </p>
                    <a href="{{ path('service.edit', {id: service.id}) }}"><button type="button" class="btn btn-warning"><i class="fa-solid fa-pen"></i></button></a>
                    <a href="{{ path('service.delete', {id: service.id}) }}"><button type="button" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer ce service ?')"><i class="fa-solid fa-trash"></i></button></a>
                </div>
                
            </div>
        {% endfor %} 
        </div>
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(services) }}
        </div>
    </div>
{% endblock %}
